:root {
  --bg:#EDF2F3;
  --signal: #0E9594;
  --capture: #D64545;
}

body {
    background: var(--bg);
    font-family: Arial, sans-serif;
}

#myCanvas {
    border: 1px solid #DCE4E6;
    border-radius: 6px;
}

#progress {
    border: 1px solid #000000;
}